@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 40;
  font-size: 20px;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  display: inline-block;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
.container-big {
  max-width: 1536px;
  padding: 0 15px;
  margin: 0 auto;
}

._ibg img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn,
a.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  background-color: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  min-height: 51px;
  font-size: 20px;
  line-height: 1.25;
  color: #ffffff;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}
.btn:hover,
a.btn:hover {
  background-color: #11775a;
}

.header {
  padding: 17px 0;
  border-bottom: 1px solid #D6D6D6;
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-logo {
  margin-right: 172px;
}
.header-logo img {
  display: block;
}

.header-nav__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header-nav__link:hover {
  color: #756a6a;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-nav__list > *:not(:last-child) {
  margin-right: 72px;
}

.header-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}
.header-login > *:not(:last-child) {
  margin-right: 35px;
}

.header-join {
  font-size: 20px;
  line-height: 24px;
}
.header-join__signin {
  color: #000000;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.header-join__signin:hover {
  color: #747474;
}

.home {
  background-image: url("./../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 895px;
  padding-top: 175px;
}

.home-content {
  max-width: 440px;
}

.home__title {
  font-family: 'Georgia', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 1.14;
  color: #01996D;
  margin-bottom: 30px;
}

.home__desc {
  font-size: 20px;
  line-height: 1.55;
  color: #484848;
  margin-bottom: 53px;
}

.home__button {
  min-height: 65px;
}

.how-it-works {
  padding-top: 169px;
  padding-bottom: 51px;
}

.how-it-works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 52px;
}

.header__chapter {
  margin-right: 30px;
  max-width: 584px;
}

.header__title {
  margin-bottom: -3px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.57;
  color: #484848;
}

.header__subtitle {
  font-family: 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #01996D;
}

.header__content {
  max-width: 671px;
  padding-top: 58px;
}

.header__content-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #484848;
}

.how-it-works__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.step {
  max-width: 390px;
  padding-top: 135px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.step:not(:last-child) {
  margin-right: 95px;
}
.step:nth-child(2n) {
  padding-top: 287px;
}
.step:nth-child(3n) {
  -ms-flex-item-align: center;
      align-self: center;
}
.step:nth-child(3n) > h3 {
  margin-bottom: 46px;
}

.step__title {
  position: relative;
  font-family: 'Georgia', serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 55px;
}
.step__title::before {
  content: attr(data-number);
  font-weight: normal;
  position: absolute;
  top: -135px;
  left: 13px;
  font-size: 150px;
  line-height: 1.5;
  color: rgba(1, 153, 109, 0.2);
}

.step__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #484848;
}
.step__text--01 {
  margin-bottom: 60px;
}
.step__text--02 {
  margin-bottom: 37px;
}
.step__text--03 {
  margin-bottom: 48px;
}

.step__img-wrapper {
  position: relative;
  padding-bottom: 126%;
}

.step__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.story {
  background: #245852;
  padding: 232px 0 173px 0 !important;
  color: #ffffff;
}

.story__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.story__content {
  max-width: 580px;
  line-height: 1.57;
}

.story__title {
  font-family: 'Georgia';
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 33px;
}

.story__text {
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 77px;
}

.story__btn {
  min-height: 65px;
}

.story__video {
  position: relative;
  padding-bottom: 33.5%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3%;
          flex: 0 0 58.3%;
}
.story__video iframe {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 16.3326px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.story__video iframe:hover {
  opacity: 1;
}

.product {
  padding: 120px 0 168px 0;
}

.product__container {
  position: relative;
}

.product-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-img {
  padding-left: 60px;
  padding-bottom: 75px;
  position: relative;
  margin-bottom: 40px;
}
.product-img img {
  max-width: 100%;
  background: rgba(1, 153, 109, 0.2);
  border-radius: 18px;
}

.product-content {
  max-width: 584px;
}

.prod {
  color: #484848;
}
.prod__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 1.57;
  margin-bottom: 10px;
}
.prod__subtitle {
  font-family: 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.57;
  color: #01996D;
  margin-bottom: 20px;
}
.prod__text {
  font-size: 20px;
  line-height: 1.55;
  margin-bottom: 40px;
}
.prod__btn {
  min-height: 65px;
}

.product-card {
  position: absolute;
  bottom: 0;
  left: 0;
}

.card {
  width: 296px;
  -webkit-box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
          box-shadow: 0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25);
  background: #FFFFFF;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 28px 20px 30px;
}

.card__title {
  font-weight: 600;
  font-size: 14;
  line-height: 1.57;
  text-align: center;
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 13px;
}
.card__title::after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 0.75px;
  left: -7px;
  right: -7px;
  bottom: 0;
}

.card-avatar {
  margin-bottom: 20px;
}

.avatar {
  text-align: center;
}

.avatar-img {
  margin-bottom: 13px;
  width: 57px;
  height: 57px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 50%;
}

.avatar-name {
  font-size: 12;
  line-height: 1.57;
}

.card-contents {
  text-align: left;
  padding-left: 6px;
}

.contents-title {
  font-family: 'Georgia', sans-serif;
  font-weight: 700;
  font-size: 16;
  line-height: 1.57;
}

.content-item {
  list-style-type: disc;
  list-style-position: inside;
  font-size: 11px;
  line-height: 1.57;
  margin-top: 16px;
}

.footer {
  padding: 105px 0 144px 0;
  background: #245852;
  color: #ffffff;
}

.footer-item {
  margin-top: 60px;
}
.footer-item:first-child {
  margin-top: 74px;
}

.footer-link {
  font-weight: 600;
  font-size: 25px;
}
.footer-link:hover {
  text-decoration: underline;
}

.mobile-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  position: relative;
  z-index: 999;
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 40px;
  height: 5px;
  background-color: #000;
}
.mobile-nav-button__icon::before, .mobile-nav-button__icon::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 5px;
  background-color: #000;
  -webkit-transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in;
}
.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}
.mobile-nav-button__icon::after {
  left: 0;
  top: 10px;
}

.mobile-nav-button__icon.active {
  background-color: transparent;
}
.mobile-nav-button__icon.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  -webkit-transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, -webkit-transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
  transition: top 0.15s linear, transform 0.15s ease-in 0.15s, -webkit-transform 0.15s ease-in 0.15s;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 99;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.mobile-nav.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mobile-login > *:not(:last-child) {
  margin-right: 25px;
}

.mobile-signin {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #292929;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
.mobile-signin:hover {
  color: #484848;
}

.mobile-trial {
  width: 175px;
}

@media (max-width: 1399px) {
  .container {
    width: 100%;
  }

  .how-it-works {
    padding: 100px 0 30px;
  }

  .how-it-works__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .story {
    padding: 140px 0 140px !important;
  }

  .story__title {
    font-size: 44px;
  }

  .story__text {
    font-size: 21px;
    margin-bottom: 60px;
  }
}
@media (max-width: 1390px) {
  .step:nth-child(2n) {
    padding-top: 135px;
  }

  .step__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .product-content {
    max-width: 500px;
  }
}
@media (max-width: 1290px) {
  .product-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .product-img {
    margin-bottom: 40px;
  }
}
@media (max-width: 1199px) {
  .header-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header-logo {
    margin-right: 50px;
  }

  .header-nav__list > *:not(:last-child) {
    margin-right: 50px;
  }

  .header-login {
    margin-left: 30px;
  }

  .header__subtitle {
    font-size: 44px;
  }

  .header__content-text {
    font-size: 18px;
    line-height: 1.7;
  }

  .header__content {
    padding-top: 37px;
  }

  .story__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .story__content {
    margin: 0 auto;
    text-align: center;
  }

  .story__btn {
    margin: 0 auto 40px;
  }

  .story__video {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 1000px) {
  .how-it-works__steps {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .step {
    margin-right: 0 !important;
  }
}
@media (max-width: 992px) {
  .header-nav,
  .header-login {
    display: none;
  }

  .home {
    background-image: url("./../img/bgopacity.jpg");
    padding: 40px 0;
    min-height: unset;
  }

  .home__title {
    font-size: 45px;
  }

  .home__desc {
    margin-bottom: 30px;
    font-size: 18px;
    color: #000000;
  }

  .btn {
    min-height: 50px;
    padding: 0 30px;
    font-size: 18px;
  }

  .story {
    padding: 80px 0 80px !important;
  }

  .story__video {
    width: 100%;
    padding-bottom: 56.5%;
  }

  .product {
    padding: 80px 0 100px;
  }

  .prod__subtitle {
    font-size: 43px;
  }

  .prod__title {
    font-size: 22px;
  }

  .footer {
    padding: 80px 0 100px 0;
  }

  .footer-item {
    margin-top: 50px;
  }

  .footer-link {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .header-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-nav {
    display: block;
  }
}
@media (max-width: 992px) {
  .mobile-nav-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 992px) {
  .mobile-nav-button {
    display: none;
  }
}
@media (max-width: 768px) {
  .how-it-works {
    padding: 80px 0 30px;
  }

  .step {
    padding-top: 120px;
  }

  .step__title {
    font-size: 25px;
    margin-bottom: 40px;
  }

  .step__text {
    font-size: 17px;
    line-height: 1.6;
  }
  .step__text--01 {
    margin-bottom: 40px;
  }
  .step__text--03 {
    margin-bottom: 40px;
  }

  .step:nth-child(2n) {
    padding-top: 120px;
  }

  .how-it-works__header {
    padding-bottom: 0;
  }

  .story__title {
    font-size: 40px;
  }

  .story__text {
    font-size: 19px;
    margin-bottom: 37px;
  }

  .story__btn {
    margin: 0 auto 40px;
  }

  .story {
    padding: 65px 0 65px !important;
  }

  .product-img {
    padding-left: 0;
  }

  .product {
    padding: 80px 0 80px;
  }
}
@media (max-width: 656px) {
  .card {
    width: 280px;
    padding: 16px 16px 19px;
  }

  .product-card {
    position: absolute;
    bottom: -16px;
    left: 0;
  }
}
@media (max-width: 576px) {
  .header__title {
    font-size: 18px;
  }

  .header__subtitle {
    font-size: 30px;
  }

  .header__content-text {
    font-size: 16px;
  }

  .how-it-works {
    padding: 60px 0 30px;
  }

  .header__content {
    padding-top: 30px;
  }

  .story__title {
    font-size: 30px;
  }

  .story__text {
    font-size: 17px;
    margin-bottom: 35px;
  }

  .story__btn {
    margin: 0 auto 40px;
  }

  .story {
    padding: 60px 0 60px !important;
  }

  .prod__title {
    font-size: 20px;
  }

  .prod__subtitle {
    font-size: 36px;
  }

  .prod__text {
    font-size: 18px;
    margin-bottom: 34px;
  }

  .product-card {
    position: absolute;
    bottom: -30px;
    left: 0;
  }

  .footer {
    padding: 80px 0 80px;
  }
}
@media (max-width: 550px) {
  .card {
    height: 306px;
    width: 275px;
    padding: 16px 16px 19px;
  }

  .product-card {
    bottom: -55px;
  }

  .product-img {
    margin-bottom: 80px;
  }
}
@media (max-width: 460px) {
  .container-big {
    padding: 0;
  }

  .story__title {
    padding: 0 5px;
    font-size: 26px;
    margin-bottom: 24px;
  }

  .story__text {
    padding: 0 5px;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .prod__title {
    font-size: 18px;
  }

  .prod__subtitle {
    font-size: 30px;
  }

  .prod__text {
    margin-bottom: 30px;
  }

  .product-card {
    bottom: -72px;
  }

  .card-avatar {
    margin-bottom: 6px;
  }

  .content-item {
    margin-top: 8px;
  }

  .footer-link {
    font-size: 20px;
  }
}
@media (max-width: 459px) {
  .product-img {
    padding-left: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
  }

  .card {
    display: none;
  }

  .product {
    padding: 45px 0 80px;
  }

  .footer {
    padding: 60px 0 60px 0;
  }

  .footer-item {
    margin-top: 40px;
  }
  .footer-item:first-child {
    margin-top: 60px;
  }
}

/*# sourceMappingURL=main.css.map */