.header {
	padding: 17px 0;
	border-bottom: 1px solid #D6D6D6;
}

.header-row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.header-logo {
	margin-right: 172px;

	img {
		display: block;
	}

}

.header-nav {
	&__link {
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		color: $dark;
		transition: color 0.2s ease-in;

		&:hover {
			color: #756a6a;
		}
	}

}

.header-nav__list {
	display: flex;

	&>*:not(:last-child) {
		margin-right: 72px;
	}
}


.header-login {
	display: flex;
	align-items: center;
	margin-left: auto;

	&>*:not(:last-child) {
		margin-right: 35px;
	}
}

.header-join {
	font-size: 20px;
	line-height: 24px;

	&__signin {
		color: $black;
		transition: color 0.2s ease-in;

		&:hover {
			color: #747474;
		}
	}
}