.home {
	background-image: url('./../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	min-height: 895px;
	padding-top: 175px;
}

.home-content {
	max-width: 440px;
}

.home__title {
	font-family: 'Georgia', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 65px;
	line-height: 1.14;
	color: $green;
	margin-bottom: 30px;
}

.home__desc {
	font-size: 20px;
	line-height: 1.55;
	color: $desc;
	margin-bottom: 53px;
}

.home__button {
	min-height: 65px;
}