.mobile-nav-button {
	// Reset
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;

	// Nav icon
	position: relative;
	z-index: 999;
	width: 40px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.mobile-nav-button__icon {
	display: block;
	position: relative;
	width: 40px;
	height: 5px;
	background-color: #000;

	&::before,
	&::after {
		position: absolute;
		content: "";
		width: 40px;
		height: 5px;
		background-color: #000;
		transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
	}

	&::before {
		left: 0;
		top: -10px;
	}

	&::after {
		left: 0;
		top: 10px;
	}
}

.mobile-nav-button__icon.active {
	background-color: transparent;

	&::before {
		transform: rotate(45deg);
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
	}

	&::after {
		transform: rotate(-45deg);
		top: 0;
		transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
	}
}